html{
	scroll-behavior: smooth;
}

body{
	background-color: #2C242C;
	font-style: normal;
	font-family: "Montserrat", sans-serif;
	overflow-y: hidden;
	
}
/* Header CSS */

.header{
	width: 25%;
	margin-top: 2%;
	margin-left: 37.5%;
}

.title{
	font-family: "acumin-pro-semi-condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
	font-size: 38px;
	text-align: center;
	color: #FFFFFF
}

.slogan{

	font-style: normal;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	font-weight: 100;
	text-align: center;
	color: #DABE35 ;
	margin-top: -25px;
	letter-spacing: 0px;
	font-size: 12.5px;
	
}

.circle1{

	background:#DABE35;
	border-radius: 50%;
	height:10px;
	width: 10px;
	margin: 0;
	margin-top: -40px;
	position: absolute;
}

.circle2{
	background:#DABE35;
	border-radius: 50%;
	height: 10px;
	width: 10px;
	margin: 0;
	position:absolute;
	margin-left: 25%;
	margin-top: -40px;
	
}